.hero_image{
    width: 100%;
}
header{
    position: relative;
    text-align: center;
}
.header_elements{
    gap: 12px;
    position: absolute;
    top: 8%;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     h1{
        font-size: large;
        color: white;
        font-family: 'Arial Black', sans-serif;
        text-shadow: 2px 2px 4px #000000;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }
}
.learn_more{
    width: 120px;
    text-decoration: none;
    color: white;
    font-family: 'Arial Black', sans-serif;
    border: 1px solid white;
}
nav{
    position: relative;
    bottom: 10px;
    margin: 0;
    ul{
        background-color: #252e30;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;
        padding: 0;
        margin: 0;
        li{
            a{
                text-decoration: none;
                color: white;
                font-family: 'Arial Black', sans-serif;
                padding: 12px;
                display: block;
                &:hover{
                    color: $accent_color;
                }
            }
        }
    }
}

