.hero_image {
  width: 100%;
}

header {
  position: relative;
  text-align: center;
}

.header_elements {
  gap: 12px;
  position: absolute;
  top: 8%;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header_elements h1 {
  font-size: large;
  color: white;
  font-family: "Arial Black", sans-serif;
  text-shadow: 2px 2px 4px #000000;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.learn_more {
  width: 120px;
  text-decoration: none;
  color: white;
  font-family: "Arial Black", sans-serif;
  border: 1px solid white;
}

nav {
  position: relative;
  bottom: 10px;
  margin: 0;
}
nav ul {
  background-color: #252e30;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 0;
  margin: 0;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-family: "Arial Black", sans-serif;
  padding: 12px;
  display: block;
}
nav ul li a:hover {
  color: #2ecc71;
}

.valeurs {
  padding: 15px;
  display: flex;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.valeurs div h3 {
  font-family: Helvetica, sans-serif;
  color: rgb(65, 65, 65);
}
.valeurs div p {
  font-family: Helvetica, sans-serif;
  color: #aeaeae;
}

.about {
  background-color: #f2f2f1;
  padding: 15px;
}
.about .me {
  aspect-ratio: initial;
  width: 100%;
}

.competences {
  margin: 15px;
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
}

.comp {
  width: 260px;
}
.comp h4 {
  margin: 0;
  font-family: Helvetica, sans-serif;
  color: rgb(65, 65, 65);
}
.comp p {
  color: #aeaeae;
}
.comp {
  display: flex;
  gap: 10px;
}
.comp img {
  max-height: 48px;
  min-width: initial;
}

.presentation h3 {
  font-family: Helvetica, sans-serif;
  color: rgb(65, 65, 65);
}
.presentation p {
  font-family: Helvetica, sans-serif;
  color: #aeaeae;
}

.skills {
  padding: 15px;
}
.skills .skills_txt {
  display: flex;
  flex-direction: column;
}
.skills .skills_txt h3 {
  font-family: Helvetica, sans-serif;
  color: rgb(65, 65, 65);
}
.skills .skills_txt p {
  font-family: Helvetica, sans-serif;
  color: #aeaeae;
  margin: 10px;
}
.skills .skills_txt a {
  width: fit-content;
  text-decoration: none;
  color: #2ecc71;
  font-family: "Arial Black", sans-serif;
  border: 2px solid #2ecc71;
  padding: 10px;
  margin: auto;
}

.bars {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
.bars h4 {
  margin: 8px;
}

.photoshop, .illustrator, .htmlcss, .phpmysql {
  margin: 10px;
  width: fit-content;
  font-family: Helvetica, sans-serif;
  color: rgb(65, 65, 65);
}

.progress_bar {
  width: 300px;
  height: 25px;
  background-color: #f2f2f1;
}
.progress_bar p {
  margin: 0;
}

.photoshop_progress {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 90%;
  height: 25px;
  background-color: #2ecc71;
}
.photoshop_progress p {
  margin-right: 5px;
}

.illustrator_progress {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 80%;
  height: 25px;
  background-color: #2ecc71;
}
.illustrator_progress p {
  margin-right: 5px;
}

.htmlcss_progress {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 90%;
  height: 25px;
  background-color: #2ecc71;
}
.htmlcss_progress p {
  margin-right: 5px;
}

.phpmysql_progress {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 70%;
  height: 25px;
  background-color: #2ecc71;
}
.phpmysql_progress p {
  margin-right: 5px;
}

body, html {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=styles.css.map */
