.hero_image {
  width: 100%;
}

header {
  position: relative;
  text-align: center;
}

.header_elements {
  gap: 12px;
  position: absolute;
  top: 8%;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header_elements h1 {
  font-size: large;
  color: white;
  font-family: "Arial Black", sans-serif;
  text-shadow: 2px 2px 4px #000000;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.learn_more {
  width: 120px;
  text-decoration: none;
  color: white;
  font-family: "Arial Black", sans-serif;
  border: 1px solid white;
}

nav {
  position: relative;
  bottom: 10px;
  margin: 0;
}
nav ul {
  background-color: #252e30;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 0;
  margin: 0;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-family: "Arial Black", sans-serif;
  padding: 12px;
  display: block;
}
nav ul li a:hover {
  color: #2ecc71;
}

@media (min-width: 768px) {
  .header_elements h1 {
    font-size: 48px;
  }
  .learn_more {
    width: 250px;
    font-size: 32px;
  }
}
.valeurs {
  padding: 15px;
  display: flex;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.valeurs div h3 {
  font-family: Helvetica, sans-serif;
  color: rgb(65, 65, 65);
}
.valeurs div p {
  font-family: Helvetica, sans-serif;
  color: #aeaeae;
}

.about {
  background-color: #f2f2f1;
  padding: 15px;
}
.about .me {
  aspect-ratio: initial;
  width: 100%;
}

.competences {
  margin: 15px;
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
}

.comp {
  width: 260px;
}
.comp h4 {
  margin: 0;
  font-family: Helvetica, sans-serif;
  color: rgb(65, 65, 65);
}
.comp p {
  color: #aeaeae;
}
.comp {
  display: flex;
  gap: 10px;
}
.comp img {
  max-height: 48px;
  min-width: initial;
}

.presentation h3 {
  font-family: Helvetica, sans-serif;
  color: rgb(65, 65, 65);
}
.presentation p {
  font-family: Helvetica, sans-serif;
  color: #aeaeae;
}

.skills {
  padding: 15px;
}
.skills .skills_txt {
  display: flex;
  flex-direction: column;
}
.skills .skills_txt h3 {
  font-family: Helvetica, sans-serif;
  color: rgb(65, 65, 65);
}
.skills .skills_txt p {
  font-family: Helvetica, sans-serif;
  color: #aeaeae;
  margin: 10px;
}
.skills .skills_txt a {
  width: fit-content;
  text-decoration: none;
  color: #2ecc71;
  font-family: "Arial Black", sans-serif;
  border: 2px solid #2ecc71;
  padding: 10px;
  margin: auto;
}

.bars {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
.bars h4 {
  margin: 8px;
}

.photoshop, .illustrator, .htmlcss, .phpmysql {
  margin: 10px;
  width: fit-content;
  font-family: Helvetica, sans-serif;
  color: rgb(65, 65, 65);
}

.progress_bar {
  width: 300px;
  height: 25px;
  background-color: #f2f2f1;
}
.progress_bar p {
  margin: 0;
}

.photoshop_progress {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 90%;
  height: 25px;
  background-color: #2ecc71;
}
.photoshop_progress p {
  margin-right: 5px;
}

.illustrator_progress {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 80%;
  height: 25px;
  background-color: #2ecc71;
}
.illustrator_progress p {
  margin-right: 5px;
}

.htmlcss_progress {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 90%;
  height: 25px;
  background-color: #2ecc71;
}
.htmlcss_progress p {
  margin-right: 5px;
}

.phpmysql_progress {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 70%;
  height: 25px;
  background-color: #2ecc71;
}
.phpmysql_progress p {
  margin-right: 5px;
}

.resume {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f1;
}
.resume h3 {
  font-family: Helvetica, sans-serif;
  color: rgb(65, 65, 65);
}
.resume p {
  color: #aeaeae;
  padding: 15px;
  text-align: center;
}
.resume a {
  width: fit-content;
  text-decoration: none;
  color: #2ecc71;
  font-family: "Arial Black", sans-serif;
  border: 2px solid #2ecc71;
  padding: 10px;
  margin: auto;
}

hr {
  width: 70%;
}

.education {
  padding-left: 10%;
  padding-right: 10%;
}
.education h3 {
  font-family: Helvetica, sans-serif;
  color: rgb(65, 65, 65);
}
.education p {
  color: #aeaeae;
  text-align: justify;
  font-family: Helvetica, sans-serif;
}

.diplomes .diplome h4 {
  font-family: Helvetica, sans-serif;
  color: rgb(65, 65, 65);
  margin: 0;
}
.diplomes .diplome {
  padding: 15px;
}
.diplomes .diplome .gpa {
  width: fit-content;
  padding: 5px 10px;
  color: white;
  background-color: #2ecc71;
}
.diplomes .diplome p {
  color: #aeaeae;
  font-family: Helvetica, sans-serif;
}

.quote {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f1;
}
.quote .quoted_text {
  font-family: Helvetica, sans-serif;
  color: #aeaeae;
  font-style: italic;
  text-align: center;
}
.quote .author {
  margin-top: 10px;
  font-family: Helvetica, sans-serif;
  color: rgb(65, 65, 65);
  font-weight: bold;
}

.portfolio {
  padding: 15px;
}
.portfolio h3 {
  font-family: Helvetica, sans-serif;
  color: rgb(65, 65, 65);
  text-align: center;
}
.portfolio p {
  font-family: Helvetica, sans-serif;
  color: #aeaeae;
  margin-bottom: 15px;
}

.img_grid {
  display: grid;
  grid-template-columns: 1;
  gap: 15px;
}
.img_grid > div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_grid > div:hover .loupe {
  display: block;
}
.img_grid > div .loupe {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #252E30;
  padding: 15px;
  text-align: center;
}
footer p {
  font-family: Helvetica, sans-serif;
  color: #aeaeae;
  margin: 0;
}
footer h3 {
  font-family: Helvetica, sans-serif;
  color: white;
}
footer .contactform {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
footer .contactform form {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
footer .contactform form div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
}
footer .contactform form div label {
  color: white;
  font-family: Helvetica, sans-serif;
  margin-bottom: 4px;
}
footer .contactform form div input, footer .contactform form div textarea {
  background-color: #424b4e;
  padding: 8px;
  border: none;
  width: 250px;
  color: white;
}
footer .contactform button {
  width: fit-content;
  text-decoration: none;
  color: white;
  background-color: #424b4e;
  font-family: "Arial Black", sans-serif;
  border: none;
  padding: 10px;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .valeurs {
    flex-direction: row;
  }
  .about {
    display: flex;
    flex-direction: row;
  }
  .about img {
    aspect-ratio: initial;
    max-width: 305px;
  }
  .about div {
    display: flex;
    flex-direction: column;
  }
  .about .presentation {
    margin: 15px;
  }
  .about .competences {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .about .competences .comp {
    width: fit-content;
  }
  .about .competences .comp img {
    width: 48px;
  }
  .skills {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  footer {
    flex-direction: row;
    justify-content: space-around;
  }
  footer p, footer h3 {
    text-align: left;
  }
  footer .contactme {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .education {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  .education_txt {
    max-width: 30%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .skills {
    display: flex;
    justify-content: space-around;
  }
  .skills .skills_txt {
    max-width: 50%;
  }
  .img_grid {
    grid-template-columns: repeat(2, 1fr);
  }
  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
@media (min-width: 1100px) {
  .img_grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
body, html {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=styles.css.map */
